version: '3.8'

services:
  app:
    build:
      context: .
      args:
        - DEV=true
    ports:
      - "8000:8000"
    volumes:
      # mapping (chaque modif local de ce dossier modifiera le conteneur et inversement )
      - ./app:/app
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    environment:
      - DB_HOST=db
      - DB_NAME=devdb
      - DB_USER=devuser
      - DB_PASS=password
    depends_on:
      - db

  db:
    image: postgres:13-alpine3.20
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=devdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    volumes:
      - dev-db-data:/var/lib/postgresql/data


  scrapper:
    build: .
    volumes:
      - .:/app
    command: sh -c 'python /app/app/scrapping/script_scrapping.py'
    environment:
      - DB_HOST=db
      - DB_NAME=devdb
      - DB_USER=devuser
      - DB_PASS=password
    depends_on:
      - db


volumes:
  # vide, car docker compose le stockera dans le filesystem par defaut
  dev-db-data: